__pycache__/
*.py[cod]
.venv/
venv/

.env
private_tokens.py
!private_tokens.example.py

data/
saved/
outputs/
checkpoints/
*.pt
*.pth
.cometml-runs/

docs/
.ipynb_checkpoints

.vscode/
.idea/
.DS_Store
