__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.env
private_tokens.py

data/
saved/
outputs/
diagnostics/
checkpoints/
*.pt
*.pth
.cometml-runs/
wandb/
*.log

docs/
.ipynb_checkpoints

.vscode/
.idea/
.DS_Store
